<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devpaul.filepickerlibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true">
        <activity android:name="com.devpaul.filepickerlibrary.FilePickerActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity android:name=".FilePicker"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
    </application>

</manifest>
